
@{
    ViewBag.Title = "Home Page";
}

<br /><br /><br /><br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@*  это так, временное уродство  *@
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<img src="http://res.cloudinary.com/website-maker/image/upload/c_scale,w_150/v1469827634/logo_chyujp.png" />
<h1>WebsiteMaker.com</h1>