@using Microsoft.AspNet.Identity
@using CloudinaryDotNet
@using CourseProject.Models

@{ 
    Cloudinary cloudinary = new CloudinaryModel().Cloudinary;
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nopadding">
                    @if (ViewBag.ProfilePicture == null)
                    {
                        <img src="http://res.cloudinary.com/website-maker/image/upload/c_scale,r_max,w_50/v1470265668/default_avatar_ww0y7e.png" />
                    }
                    else
                    {
                        @cloudinary.Api.UrlImgUp.Transform(
                             new Transformation().Width(50).Height(50).Crop("fill")).BuildImageTag(
                             ViewBag.ProfilePicture, new StringDictionary("class=img-circle"))
                    }
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })<hr style="margin:0px;"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}