@model CourseProject.Models.DetailsViewModel
@using Resources
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/">
                <img src="http://res.cloudinary.com/website-maker/image/upload/c_scale,w_50/v1469827634/logo_chyujp.png" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" method="post" role="search" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" name="searchQuery" placeholder=@Resource.Search>
                </div>
            </form>
            <ul class="nav navbar-nav" id="horizontal_menu">
                @if (Model.IsEdit)
                {
                    <li id="horizontalAdd" class="add"><a href="#">@Resource.Add</a></li>
                }
            </ul>
        </div>
    </div>
</div>
