@if ((bool)ViewBag.horizontalMenu)
{
    Html.RenderPartial("Menu/_HorizontalMenu");
}
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    @if ((bool)ViewBag.verticalMenu)
    {
        Html.RenderPartial("Menu/_VerticalMenu");
    }
</div>