.main{
    margin-top: 20px;
    padding: 0;
}

.main .nav{
    border-radius: 5px 5px;
    margin-bottom: 15px;
}

/*///////////*/

.templateArea{
    min-height: 100px;
}

.dragging-active {
    border: dotted 2px grey;
}

#toolbar{
    width: 100px;
    position: absolute;
    right: 0;
}