.main{
    padding: 0;
}

.main .nav{
    border-radius: 5px 5px;
    margin-bottom: 15px;
}

.navbar {
    max-height: 52px;
}

#verticalMenu{
    margin-top: 10px;
}

/*///////////*/

.templateArea{
    min-height: 100px;
}

.dragging-active {
    border: dotted 2px grey;
}

#toolbar{
    width: 110px;
    position: fixed;
    right: 0;
}

.toolbarSpan{
    font-size: 20px;
    color: black;
}

.item span .toolbarSpan{
    font-size:40px;
    color: black;
}

.modal{
    color: black;
}

.cropit-preview-image-container {
    cursor: move;
}

.image-size-label {
    margin-top: 10px;
}

.image-editor{
    float:left;
    width: 100%;
    height: 350px;
}

.cropit-preview {
    overflow: hidden;
    width: 350px;
    height: 250px;
    border: solid 1px lightgrey;
}

#myImage{
    width: 100%;
    height: 100%;
}

.drag{
    border:dotted 2px grey;
    width: 200px;
    height: 200px;
}

#browseBtn{
    width: 80px;
    height: 30px;
}

#browseInput{
    position: absolute; 
    top: -100px;
}

#rangeBlock{
    margin: 10px;
}

.item{
    text-align:center;
}

#commentBox{
    padding: 10px;
    color: black;
}

#commentConstructor{
    height: 100%;
    border: solid 1px lightgrey;
    padding-right:30px;
    padding:15px;
    text-align: right;
    border-radius:15px;
}

#commentTextarea{
    max-width: 100%;
    height: 80px;
}

#commentSend{
    margin:5px;
    right:0;
}

.comment{
    margin: 15px;
    /*box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;*/
    box-shadow: lightgrey 7px 7px 14px;
    padding-left:10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.img-circle{
    border: solid 1px lightgrey;
}

.commentInfo{
    height:100%;
}

.author-date{
    margin-top: 10px;
}

.commentAuthor{
     font-size:15px;
}

.commentDate{
    color:dimgrey;
    font-size:10px;
}

#ratingStar{
    font-size: 45px;
}

#ratingBox{
    border: solid 1px lightgrey;
    border-radius: 15px;
    text-align: center;
    color: black;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 20px;
    z-index: 300;
    bottom: 20px;
    background-color: white;
}

#ratingValue{
    font-size: 20px;
}