@model CourseProject.Models.UserSitesViewModel
@foreach (var site in Model.Sites)
{
    <tr>
        <td>
            <a href=@('/' + Model.UserName + "/" + site.Url + "/details")> @site.Name </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => site.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => site.Url)
        </td>
    </tr>
}
</table>

