
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form class="form-create col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4"
          method="post" action="~/Site/Create" role="form">
        <div class="form-group ">
            <label>Название</label>
            <input class="form-control" type="text" name="SiteName" pattern="^[A-Za-z0-9_-]+$" maxlength="20" required>
        </div>
        <div class="form-group">
            <label>Теги</label>
            <textarea class="form-control" type="text" name="Tags" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Тема</label>
            <div class="row">
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470407055/themes/qV4bIJqo074.jpg" name="Theme" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Theme" value="Dark" checked>
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470407068/themes/RYA5wR6bKo8.jpg" name="Theme" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Theme" value="White">
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470407062/themes/V_gSfLje_7U.jpg" name="Theme" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Theme" value="Red">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Шаблон для контента</label>
            <div class="row">
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470449020/layouts/layout1.png" name="Template" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Template" value="TwoPart" checked>
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470449020/layouts/layout2.png" name="Template" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Template" value="OneTopTwoBottom">
                </div>
                <div class="check-block col-xs-4">
                    <img src="http://res.cloudinary.com/website-maker/image/upload/v1470449020/layouts/layout3.png" name="Template" class="img-responsive img-radio">
                    <input class="hidden form-control" type="radio" name="Template" value="TwoTopOneBottom">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Навигационная панель</label>
            <select class="form-control" name="Navigation">
                <option value="Vertical">Вертикальная</option>
                <option value="Horizontal">Горизонтальная</option>
                <option value="VerticalAndHorizontal">Вертикальная и горизонтальная</option>
                <option value="None">Отсутствует</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Создать</button>
        </div>
    </form>
</div>

