
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="row">
        <form class="form-create col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"
              method="post" action="~/Site/Create" role="form">
            <div class="form-group ">
                <label>Название</label>
                <input type="text" class="form-control" name="SiteName">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Теги</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Тема</label>
                <div class="row">
                    <div class="check-block col-xs-4">
                        <img src="http://placehold.it/160x100" class="img-responsive img-radio">
                        <input type="checkbox" name="left-item" class="hidden form-control">
                    </div>
                    <div class="check-block col-xs-4">
                        <img src="http://placehold.it/160x100" class="img-responsive img-radio">
                        <input type="checkbox" name="middle-item" class="hidden form-control">
                    </div>
                    <div class="check-block col-xs-4">
                        <img src="http://placehold.it/160x100" class="img-responsive img-radio">
                        <input type="checkbox" name="right-item" class="hidden form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <select name="Theme">
                    <option value="1">Пункт 1</option>
                    <option value="2">Пункт 2</option>
                    <option value="3">Пункт 3</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Создать</button>
            </div>
</form>
    </div>
</div>

